# CNN model

In [3]:
import numpy as np
import pandas as pd

data = pd.read_csv("../data/raw/indoor_45_2_snapdragon_with_gt/groundtruth.txt")

data.head()

                    # timestamp tx ty tz qx qy qz qw
0  1416.606163685 -3.73640385609735 4.34486998973...
1  1416.608163685 -3.73644107437754 4.34485831178...
2  1416.610163685 -3.73647840066834 4.34484695474...
3  1416.612163685 -3.73651583232391 4.34483587030...
4  1416.614163685 -3.73655336588113 4.34482501315...